.menu-item {
    width: 280px;
    color: white;
}

.menu-container .menu-container .menu-item > .menu-item-link {
    height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-container.visible {
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-container.visible > .menu-item > .menu-item-link {
    height: 2.5em;
}